<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="notificaciones" *ngIf="VM.HayNotificaciones">
    <div class="notificacion" [class.error]="item.Type === VM.NotificationType.error"
      *nFor="let item of VM.Listado; let i=index">
      <p>notification works!</p>
      {{item.Message}}
      <button type="button" (click)="VM.remove(i)">X</button>
    </div>
  <div class="center">
      <button class="btn btninfo" type="button" (click)="VM.clear()">Cerrar</button>
      </div>
  </div>



</body>

</html>
